<div class="site-author motion-element" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <img class="site-author-image" itemprop="image" src="/images/avatar.jpg" alt="Liuy" />
    <p class="site-author-name" itemprop="name">Liuy</p>
    <p class="site-description motion-element" itemprop="description">Liuy</p>
</div>
<!-- <nav class="site&#45;state motion&#45;element"> -->
<!--     <div class="site&#45;state&#45;item site&#45;state&#45;posts"> -->
<!--         <a href="/archives"> <span class="site&#45;state&#45;item&#45;count">63</span> <span class="site&#45;state&#45;item&#45;name">日志</span> </a> -->
<!--     </div> -->
<!--     <div class="site&#45;state&#45;item site&#45;state&#45;categories"> -->
<!--         <a href="/categories"> <span class="site&#45;state&#45;item&#45;count">22</span> <span class="site&#45;state&#45;item&#45;name">分类</span> </a> -->
<!--     </div>  -->
<!--     <div class="site&#45;state&#45;item site&#45;state&#45;tags"> -->
<!--         <a href="/tags"> <span class="site&#45;state&#45;item&#45;count">69</span> <span class="site&#45;state&#45;item&#45;name">标签</span> </a> -->
<!--     </div> -->
<!-- </nav> -->
<div class="feed-link motion-element">
    <a href="/feed.xml" rel="alternate"> <i class="fa fa-rss"></i> RSS </a>
</div>
<div class="links-of-author motion-element"> 
    <span class="links-of-author-item">
        <a href="https://github.com/liuyzss" target="_blank"> <i class="fa fa-github"></i> GitHub </a>
    </span>
    <span class="links-of-author-item">
        <a href="http://weibo.com/u/2018424960" target="_blank"> <i class="fa fa-weibo"></i> weibo </a>
    </span>
</div>
<div class="links-of-author motion-element">
    <p class="site-author-name">友情链接</p>
    <span class="links-of-author-item"> <a href="https://www.zhihu.com/people/lippi-ouyang" target="_blank">友链出租</a> </span>
</div>
