<!DOCTYPE html>
<html class="theme-next mist use-motion">
    {% include head.html %}
    <script type="text/javascript" src="/js/src/bootstrap.js?v=0.5.0"></script>
    <body itemscope itemtype="httpgcschema.org/WebPage" lang="zh-Hans">
        <div class="container one-collumn sidebar-position-left page-home ">
            {% include header.html %}
            <main id="main" class="main">
                <div class="main-inner">
                    <div class="content-wrap">
                        <div id="content" class="content">
                            {{ content }}
                        </div>
                    </div>

                    {% include sidebar.html %}
                    <aside id="sidebar" class="sidebar">
                        <div class="sidebar-inner">
                            <ul class="sidebar-nav motion-element" style="opacity: 1; display: block; transform: translateX(0px);">
                                <li class="sidebar-nav-overview sidebar-nav-active" data-target="site-overview">我的博客</li>
                            </ul>
                            <section class="site-overview sidebar-panel sidebar-panel-active ">
                                {% include personal.html %}
                            </section>
                        </div>
                    </aside> 
                </div>
            </main>
            {% include footer.html %}
        </div>
    </body>

</html>
